*{{title}}*

{{#address.location}}
*Address:* [{{address.city.name}}, {{address.subDistrict}}, {{address.street}}, {{address.building}}](https://maps.google.com/?q={{address.location.lat}},{{address.location.lon}})
{{/address.location}}
{{^address.location}}
*Address:* {{address.city.name}}, {{address.subDistrict}}, {{address.street}}, {{address.building}}
{{/address.location}}
{{#info.floor}}
*Floor:* {{info.floor}}/{{info.totalFloors}}
{{/info.floor}}
{{#info.rooms}}
*Rooms:* {{info.rooms}}
{{/info.rooms}}
{{#info.bedrooms}}
*Bedrooms:* {{info.bedrooms}}
{{/info.bedrooms}}
{{#info.spaceSquareMeters}}
*Area:* {{info.spaceSquareMeters}} m²
{{/info.spaceSquareMeters}}

{{#description.en}}
{{description.en}}
{{/description.en}}
{{^description.en}}
{{description.text}}
{{/description.en}}

*Price:* {{price}}

{{#contacts.phoneNumber}}
*Phone number:* {{contacts.phoneNumber}}
{{/contacts.phoneNumber}}
{{#whatsAppLink}}[Whatsapp]({{{whatsAppLink}}}){{/whatsAppLink}}  {{#viberLink}}[Viber]({{{viberLink}}}){{/viberLink}}

*Link:* [{{serviceId}}]({{{contacts.flatServiceLink}}})